@import 'partials/setup.scss';
@import 'partials/variables.scss';
@import 'partials/global.scss';

header{
    @extend .custom-text1;
    background-color: $header-color;
    color: #fff;
    padding: 15px 0;
    .header{
        display: flex;
        justify-content: space-between;

        .contact-details{
            p{
                @extend .inline-list;
                i{
                    color: $primary-color;
                    margin-right: 10px;
                }
            }
            p:hover{
                @extend .hover-primary;
            }
        }
        .icons{
            i{
                margin: 0 7px;
            }
            i:hover{
                @extend .hover-primary
            }
        }
    }
}
.main-nav{
    height: auto;
    padding: 50px 0;
    position: relative;
    z-index: 150;  
    transition: .2s ease-in-out; 
    @extend .custom-text2;
    
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: auto;
        margin: auto;

        ul{
            margin: auto 0;
        }
        ul li{
            list-style: none;
            display: inline;
            margin: 0 10px;
            
        }
        ul li:nth-child(1){
            color: $primary-color;
            i{
                color: $primary-color;
            }
        }
        p{
            margin: auto 0;
            i{
                font-size: 16px;
            }
        }
        ul li:hover{ 
            @extend .hover-primary;
        }
        ul li:hover i{
            @extend .hover-primary;
            transform: rotate(180deg);
        }
        p{
            i:hover{
                @extend .hover-primary;
            }
        }

    }
}
.main-nav-scrolled{
    height: 70px;
    padding: 10px;
    background: $header-color;
    position: fixed;
    width: 100%;
    top: 0;
}
.home{
    position: relative;
    background-image: linear-gradient( rgba(0.4, 0, 0, 0.4), rgba(0.4, 0, 0, 0.4) ),url(../assets/homepage-1.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;

    .home-content{
        margin-top: 20vh;
        text-align: center;
        font-family: $font-title;
        h1{
            font-weight: 800;
            font-size: 115px;
            letter-spacing: 5px;
        }
        h2{
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 2px;
        }
        button{
            @include button;
            margin-top: 100px;
        }
        button:hover{
            @include button-hover;
        }
    }
    
}
