@import 'partials/setup.scss';
@import 'partials/variables.scss';
@import 'partials/global.scss';

header{
    @extend .custom-text1;
    background-color: $header-color;
    color: #fff;
    padding: 15px 0;
    .header{
        display: flex;
        justify-content: space-between;

        .contact-details{
            p{
                @extend .inline-list;
                i{
                    color: $primary-color;
                    margin-right: 10px;
                }
            }
            p:hover{
                @extend .hover-primary;
            }
        }
        .icons{
            i{
                margin: 0 7px;
            }
            i:hover{
                @extend .hover-primary
            }
        }
    }
}

.home{
    text-align: center;
    color: #fff;

    .main-nav{
    padding: 50px 0;
    position: absolute;
    z-index: 99999999999;  
    transition: .2s ease-in-out; 
    @extend .custom-text2;
    
        .flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul{
                margin: auto 0;
            }
            ul li{
                list-style: none;
                display: inline;
                margin: 0 10px;
                
            }
            ul li:nth-child(1){
                color: $primary-color;
                i{
                    color: $primary-color;
                }
            }
            p{
                margin: auto 0;
                i{
                    font-size: 16px;
                }
            }
            ul li:hover{ 
                @extend .hover-primary;
            }
            ul li:hover i{
                @extend .hover-primary;
                transform: rotate(180deg);
            }
            p{
                i:hover{
                    @extend .hover-primary;
                }
            }
        }
    }
    .main-nav-scrolled{
    overflow: hidden;
    height: 70px;
    padding: 10px;
    background: $header-color;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    }
    
    .slick-slider{
        .slick-prev{
            margin-left: 100px;
            z-index: 150;
            font-size: 50px;
        }
        .slick-prev:before {
            font-size: 40px;
        }
        .slick-next:before {
            font-size: 40px;
        }
        
        .slick-next{
            margin-right: 100px;
        }
        .slick-dots{
            position: absolute;
            bottom: 40px;
            color: #FFF;
        }
        .slick-dots li button:before{
            font-size: 15px;
            color: white;
        }
    
        .a-slide{
            z-index: 555555;
            position: relative;
            max-width: 100%;
            height: auto;
            min-height: 600px;
            background-position:center;
            background-size:cover;
        }
        .a-slide:nth-child(1){
            background-image: url(assets/rsz_homepage-1.jpg);
        }
    }
    .home-content{
        width: auto;
        margin:auto;
        text-align: center;
        margin-top:10%;
        z-index: 10;
        font-family: $font-title;
        h2{
            font-weight: 800;
            font-size: 115px;
            letter-spacing: 5px;
        }
        h3{
            font-weight: 700;
            font-size: 24px;
            letter-spacing: 2px;
        }
        button{
            @include button;
            margin-top: 100px;
        }
        button:hover{
            @include button-hover;
        }
    }
}
.services{
    padding: 100px 0;
    .service-list{
        margin-top: 50px;
    }
    h2{
        @include sec-title;
        text-align: center;
        margin-bottom: 30px;
    }
    h5{
        @include h5;
        margin-bottom: 30px;
    }
    p{
        @include paragraphs;
    }
    h5:hover{
        @include h5-hover;
    }
    .three-sec{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
    }
    .text{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    i{
        text-align: center;
        color: #fff;
        background-color: $primary-color;
        border-radius: 50%;
        padding: 30px;
        width: 100px;
        height: 100px;
        vertical-align: middle;
        line-height: 50px;
        font-size: 45PX;
    }
    .three-sec:hover i:after{
        content: '';
        display: inline-block;
        position: absolute;
        font-size: 30px;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        transition: .3s;
        z-index: -1;
        transform: translateX(-100%);
        border-radius: 50%;
        background: #272727;
    }

}
.history{
    background-color: #f8f8f8;
    padding: 100px 0;
    h2{
        @include sec-title;
        margin-bottom: 50px;
    }
    h5{
        @include h5;
        margin-bottom: 20px;
    }
    p{
        @include paragraphs;
    }
    button{
        @include button;
        margin-top: 50px;
    }
    button:hover{
        @include button-hover;
    }
    .left{
        padding: 0 15px;
    }
}
.project{
    height: 800px;
    overflow-x: hidden;
    .row{
        position: relative;
    }

    .flip-container {
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -o-perspective: 1000;
        perspective: 1000;
        border: 1px solid #ccc;
    }

	.flip-container:hover .flipper, .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

    .flipper {
        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;
        -o-transition: 0.6s;
        -o-transform-style: preserve-3d;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .back {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background: #f8f8f8;
    }

    .text{
        position: absolute;
        top:0;
        left: 0;
    }

    h5{
        color: #fff;
        @include h5;

    }
    p{
        @include paragraphs;
        color: #fff;
    }
    img{
        max-width: 100%;
        margin: 0;
        position: relative;
        filter: brightness(60%)
    }
    
}
.news{
    padding: 100px 0;
    h2{
        @include sec-title;
        text-align: center;
    }
    h5{
        @include h5;
    }
    p{
        @include paragraphs;
    }
    .news-details{
        margin: 50px 0;
    }
    h5:hover{
        @extend .hover-primary;
    }
    h6{
        @include h6;
        margin: 20px 0;
    }
    span{
        color: $primary-color;
        margin-right: 20px;
    }
    span:hover{
        color: black;
    }
    h6:hover{
        @extend .hover-primary;
    }
}
.final-section{
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    h5{
        @include h5;
        margin-bottom: 30px;
    }
    p{
        @include paragraphs;
        font-size: 16px;
    }
    .first-col{
        img{
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
    .sec-col{
        p{
            color: $primary-color;
        }
        p:hover{
            @extend .hover-primary;
            color: #fff;
        }
    }
    .third-col{
        p{
            color: #fff;
            margin-bottom: 20px;
        }
        h6{
            @include h6;
        }
    }
    .fourth-col{
        p{
            margin-bottom: 20px;
        }

        .email{
            color: $primary-color
        }
        .email:hover{
            @extend .hover-primary;
            color: #fff;
        }

        .phone{
            @extend .hover-primary;
        }
    }
}
footer{
    background-color: $header-color;
    padding: 15px 0;
    color: $description-color;
    font-family: $font-extras;
    .row{
        margin: 0;
        padding: 0;
    }
    p{
        display: inline-block;
        margin: 0;
    }
    .icons{
        float: right;
        color: #fff;
        i{
            margin: 0 7px;
        }
        i:hover{
            @extend .hover-primary
        }
    }
}