@mixin button{
    background-color: #f8b606;
    padding: 18px 40px;
    border: none;
    border-radius: 3px;
    font-family: $font-title;
    text-transform: uppercase;
    color: #fff;
}
@mixin button-hover{
    background-color: black;
    cursor: pointer;
    transition: .3s ease-in-out;
}
@mixin sec-title{
    font-size: 25px;
    font-family: $font-title;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@mixin h5{
    font-size: 18px;
    font-family: $font-title;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.8;
}
@mixin paragraphs{
    font-family: $font-extras;
    line-height: 1.66667;
    font-weight: 300;
    color: $description-color;
    font-size: 18px;
    line-height: 1.7;
}
@mixin h5-hover{
    color: $primary-color;
    cursor: pointer;
    transition: .3s ease-in-out;
}
@mixin h6{
    font-size: 14px;
    font-style: italic;
    color: $description-color;
    font-family: $font-extras;
}
@mixin i-services{
    text-align: center;
    color: #fff;
    background-color: $primary-color;
    border-radius: 50%;
    padding: 30px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 45px;
    margin: 0;
    z-index: 400;
}
@mixin i-services-after{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    font-size: 30px;
    left: -1px;
    right: -1px;
    top: 0px;
    bottom: 0px;
    transition: .3s;
    z-index: -10;
    transform: translateX(-50%);
    border-radius: 50%;
    animation-play-state: play;
}


$header-color: #272727;
$bgColor: #333;
$primary-color: #e6aa09;
$description-color: #888;
$font-extras: 'Lato', sans-serif;
$font-title: "Montserrat",Helvetica,sans-serif;
